[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
kobafin_escrow = "8igAph8Ypy6YZh1QLhzzkvVkzGybzjCyBawAtHpWtVLX"

[registry]
url = "https://api.apr.dev"


[provider]
cluster = "https://api.devnet.solana.com"
wallet = "/home/mukub/.config/solana/id.json"


[scripts]
test = "yarn run mocha -t 1000000 tests/"
